/* Mobile-portrait */

/********** Root **********/
:root {
  --color-1: #e7f7d4;
  --color-2: #7fbd32;
  --color-3: #6f0cbb;
  --color-4: #fb8804;
  --color-5: #210934;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/*The navbar should always be at the top of the viewport.*/
/*The height of the welcome section should be equal to the height of the viewport.*/

/********** Body **********/
body {
  font-family: "Computer Modern Serif", serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-5);
}

a {
  text-decoration: none;
  color: var(--color-1);
}

/********** Header **********/

/********** Navigation Bar **********/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-5);
  display: flex;
  justify-content: center;
}

#navbar a {
  margin: 0;
  padding: 0.616rem;
  display: block;
}

#navbar a:hover {
  background-color: var(--color-4);
}

#navlist {
  display: flex;
  list-style: none;
}

/********** Main **********/
#welcome-section {
  width: 100%;
  height: 100vh;
  background-color: var(--color-5);
  background-image: linear-gradient(
    0deg,
    var(--color-2) 0%,
    var(--color-5) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/********** Footer **********/

/************************************************** Medias **************************************************/

/* Mobile-landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}

/* Tablet-portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}

/* Tablet-landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}

/* Laptops and desktops */
@media only screen and (min-width: 1200px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}
