/* Mobile-portrait */

/********** Root **********/
:root {
  --color-1: #e7f7d4;
  --color-2: #7fbd32;
  --color-3: #6f0cbb;
  --color-4: #fb8804;
  --color-5: #210934;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/*The navbar should always be at the top of the viewport.*/
/*The height of the welcome section should be equal to the height of the viewport.*/

/********** Body **********/
body {
  font-family: "Computer Modern Serif", serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-5);
}

a {
  text-decoration: none;
  color: var(--color-1);
}

/********** Header **********/

/********** Navigation Bar **********/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-5);
  display: flex;
  justify-content: center;
}

#navbar a {
  margin: 0;
  padding: 0.616rem;
  display: block;
}

#navbar a:hover {
  color: var(--color-5);
  background-color: var(--color-1);
}

#navlist {
  display: flex;
  list-style: none;
}

/********** Main **********/
#welcome-section {
  height: 100vh;
  background-image: linear-gradient(
    0deg,
    var(--color-3) 0%,
    var(--color-4) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h3 {
  color: var(--color-5);
}

#welcome-section h1 {
  color: var(--color-1);
  font-size: 4rem;
  font-weight: 900;
}

#welcome-section p {
  color: var(--color-1);
  text-align: right;
}

#projects {
  padding: 0 1rem;
  background-image: linear-gradient(
    0deg,
    var(--color-2) 0%,
    var(--color-3) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects h4 {
  color: var(--color-5);
  text-align: left;
}

#projects h2 {
  color: var(--color-1);
  text-align: right;
}

#projects-grid {
  margin-top: 2rem;
  padding-bottom: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  row-gap: 3rem;
}

.project-tile {
  background-color: var(--color-5);
  border-radius: 1rem;
}

.project-tile p {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
}

.project-tile:hover {
  background-color: var(--color-1);
}

.project-tile:hover p {
  color: var(--color-5);
}

.project-image {
  height: auto;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  display: block;
  object-fit: cover;
}

#about {
  padding: 0 1rem 4rem 1rem;
  background-image: linear-gradient(
    0deg,
    var(--color-3) 0%,
    var(--color-2) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h4 {
  color: var(--color-5);
  text-align: left;
}

#about h2 {
  color: var(--color-1);
  text-align: right;
}

#about p {
  margin-top: 2rem;
  padding-bottom: 4rem;
  font-weight: 900;
}

#contact {
  background-image: linear-gradient(
    0deg,
    var(--color-4) 0%,
    var(--color-3) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h4 {
  color: var(--color-5);
  text-align: left;
}

#contact h2 {
  color: var(--color-1);
  text-align: right;
}

#contact-links {
  margin-top: 5rem;
  padding-bottom: 5rem;
  width: 90%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

#contact-links a:hover {
  color: var(--color-5);
}

#profile-link {
  margin: 4rem 0;
  text-align: center;
}

#mail-link {
  text-align: right;
}
/********** Footer **********/

footer p {
  color: var(--color-1);
  background-color: var(--color-5);
  text-align: center;
}
/************************************************** Medias **************************************************/

/* Mobile-landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}

/* Tablet-portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}

/* Tablet-landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}

/* Laptops and desktops */
@media only screen and (min-width: 1200px) {
  /********** Root **********/

  /********** Body **********/

  /********** Header **********/

  /********** Navigation Bar **********/

  /********** Main **********/

  /********** Footer **********/
}
